<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div id="container" class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong id=jumble>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />

<h2 id="success">You found </h2>
<p id="results"></p>
<p id="message" class="message"></p>


<script>

// Suppress normal form submission
$("#entry").submit( function(event) {
   event.preventDefault();
  });

//document.getElementById("#success").style.display === "block";

$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);

   if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }

   $.getJSON( "/_check", { text: txt },
              function(data) {
                rsval = data.result.is_word;
                rsmes = data.result.message;
                jumble = data.result.jumble;
                matches = data.result.matches;
                // Erase letters that aren't in the jumble
                if (! jumble.includes(txt.charAt(txt.length - 1))) {
                  $("#attempt").val(txt.substr(0, txt.length - 1));
                }

                else {
                  // Grey out used letters
                  grey(txt);
                  // Highlight possible words
                  highlight(txt);

                  if (rsval) {
                    //document.getElementById("#success").style.display === "none";
                    $("#results").append(rsmes + " ");
                    $("#attempt").val("");
                    $("#message").html("");
                    $("#jumble").html(document.getElementById("jumble").innerText);
                    highlight("   "); //Unhighlight
                    if (matches == 3) {
                      $("#success").html("Success!");
                    }
                  } else {
                    $("#message").html(rsmes);
                  }
                }
               }
           );
   });

function highlight(text) {
  var words = document.getElementsByClassName("col-xs-2 text-center");
  var num_words = words.length;
  var i;
  for (i = 0; i < num_words; i++) {
    var word_text = words[i].innerText;
    if (word_text.substring(0, Math.min(word_text.length, text.length)) == text) {
      words[i].innerHTML = "<span id=highlight>" + word_text + "</span>";
    }
    else {
      words[i].innerHTML = words[i].innerText;
    }
  }
}

function grey(grey_text) {
  var jumble_html = document.getElementById("jumble").innerText;
  var i;
  var j;
  var valid = 1;
  for (j = 0; j < grey_text.length; j++) {
    var to_grey = grey_text.charAt(j);
    for (i = 0; i < jumble_html.length; i++) {
      if (valid <= 0) {
        if (jumble_html.charAt(i) == '<' || jumble_html.charAt(i) == '>') {
          valid++;
        }
      }
      else if (jumble_html.charAt(i) == '<') {
        valid = -2;
      }
      else if (jumble_html.charAt(i) == to_grey) {
        var left = jumble_html.substring(0, i);
        var right = jumble_html.substring(i + 1, jumble_html.length);
        jumble_html = left + "<span id=grey>" + to_grey + "</span>" + right;
        break;
      }
    }
  }
  document.getElementById("jumble").innerHTML = jumble_html;
}

</script>


 </div> <!-- container -->
</body> </html>
