/*
 * Styles for vocabulary program.
 *
 * This may be used in combination with
 * Twitter Bootstrap style sheets, which
 * provide responsive design for mobile
 * devices, so we don't want to mess up
 * layout and text sizes here.  Use this
 * style sheet mainly for minor attributes
 * like text color, italics, etc.
 */

.message {
    color: red;
}

#highlight {
    color: blue;
    background-color: #FFFF00;
}

#grey {
    color: grey;
}
